header {

  color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;


  h1 {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 20px ;
    font-size: 1.7em;
    font-weight: bold;
    color: green;
    
  }
}
